# Visualize the Data from Pokedex

In [1]:
import pandas as pd

In [2]:
# Getting the data
pokemons_df = pd.read_csv('metadata_pokemon.csv')
pokemons_df.head()

# Separando as gerações
pokemon_gen1 = pokemons_df.loc[pokemons_df['gen']]

,name,id,hp,attack,defense,special_attack,special_defense,speed,height,weight,type_1,type_2
0,Bulbasaur,1,45,49,49,65,65,45,7,69,Grass,Poison
1,Ivysaur,2,60,62,63,80,80,60,10,130,Grass,Poison
2,Venusaur,3,80,82,83,100,100,80,20,1000,Grass,Poison
3,Charmander,4,39,52,43,60,50,65,6,85,Fire,NaN
4,Charmeleon,5,58,64,58,80,65,80,11,190,Fire,NaN